.reviews .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 255, 34, 0.522);
}



.reviews .comment {
    width: 65%;
}

.reviews .crocs {
    width: 80px;
    height: 80px;
}

.reviews .colorStar {
    color: yellow;
}


.reviews .review {
    height: 400px;
    overflow: hidden;
}

.reviews .star-rating {
    display: inline-block;
    font-size: 2em;
}

.reviews .star-rating .star {
    color: #ccc;
    transition: color 0.3s ease;
}

.reviews .star-rating .star.filled {
    color: gold;
}