/* Fade-Out Animation */
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 4s ease-in-out 1s forwards;
  }